
html {

    scroll-behavior: smooth;
  }
  
  body {
  
    
    
    margin: 0;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 20s;
    
  
  }


  
  @keyframes example {
    0% {background-color:rgb(230, 230, 230); left:0px; top:0px;}
    20%   {background-color:rgb(230, 230, 230); left:0px; top:0px;}
    25%  {background-color:rgb(219, 219, 219); left:200px; top:0px;}
    50%  {background-color:rgb(230, 230, 230); left:200px; top:200px;}
    75%  {background-color:rgb(189, 189, 189); left:0px; top:200px;}
    100% {background-color:rgb(230, 230, 230); left:0px; top:0px;}
  }
  
  
  
  
  
  
    
  

  


 
  .container {
  
    padding-top: 20px;
    padding-left: 20px;
     width: 80%;
     height: 100%;
    margin: 0 auto;
    background-color: white;
  
  }
  
  .dropbtn {
    background-color: #eeecec;
    color: #2d3638;   
    padding: 16px;
    font-size: 16px;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    float: right;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 20s;
    
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    float: right;  
    margin-right: 0px;
   
    
  }
  

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #363f41b2;
    font-family: 'Muli', sans-serif;
    min-width: 160px;
    max-width: 6em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 4em;
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Muli', sans-serif;
 
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.726);
                                 color: black;
                                 transition: .5s;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
    transition: .5s;
  }
  
  h1 {
  
  
    border-style: solid;
    border-width: 1px;
    border-color: #eeecec;
    max-width: 12em;
    font-family: 'Muli', sans-serif;
    color: rgb(39, 39, 39);
    
    
  }
  

  
  .divdoku {
  
    display: flex;
    justify-content: flex-start;
  
  }
  
  p {
  
    font-family: 'Muli', sans-serif;
    text-align: justify;
    max-width: 800px;
    color: rgb(39, 39, 39);
  
  }
  
  .textfeld {
  
    display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    
  }
  
  h3 {
  
    color: rgb(39, 39, 39);
    font-family: 'Muli', sans-serif;
  }
  
  .brake {
  
    padding-top: 3em;
  }
  
  .img {
  
    display: flex;
    justify-content: center;
  
    
  }
  
  img {
  
    border-radius: 10px;
  
  }
  
  

  
  
  
  
  hr {
  
    max-width: 1000px;
    border: solid 1px #eeecec;
  }
  
  
  
  
  
  a {
  
  
    color: #6c71ca;
    text-decoration: none;
  }
  
  
  
  .abstand {
  
  
    width: 233px;
  }
  
  
  footer {
  
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 20s;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8em;
    background-color: #e6e6e6;
  }
  
  .pfooter {

    color: rgb(39, 39, 39);
    font-family: 'Muli', sans-serif;

  
    
  
  
  }
  
  .divfooter {
  
  display: flex;
  justify-content: center;
  
  }
  
  
  .home {
  
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 2em;
  max-width: 2em;
  background-color: #cb6040;
  border-radius: 100px;
  
  
  }
  
  
  .footertext {
  
    margin-top: 4px;
    color: black;
    font-family: 'Muli', sans-serif;
  
  }


  .gelb {


    color: #dab92d;
  }
  

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(109, 108, 108); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    margin-right: 1%;
    
    
  
  }
  
  #myBtn:hover {
    background-color: rgb(70, 70, 70); /* Add a dark-grey background on hover */
  }
  
            
  .scrollup {

   transition: 2s;

  }
  li {
    font-family: 'Muli', sans-serif;
    
  }

  .textfeld2 {

  
  display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
  }